:root {
  --thm-base: #70f28b;
  --thm-base-rgb: 112, 242, 139;
}

.preloader .icon {
  background-image: url(../../../images/colors/color-2/icons/preloader.png);
}

.main-header .other-links .link-box .link .icon {
  background-image: url(../../images/colors/color-2/icons/chat-icon.png);
}

.why-us-section .left-col .image-box::before {
  background-image: url(../../images/colors/color-2/icons/shape-1.png);
}

.banner-carousel .slide-item .left-top-line {
  background-image: url(../../images/colors/color-2/main-slider/left-curve-line.png);
}
.trusted-section .col-header .header-inner::before {
  background-image: url(../../images/colors/color-2/icons/curve-down-left.png);
}
.banner-carousel .slide-item .left-top-line {
  background-image: url(../../images/colors/color-2/main-slider/left-curve-line.png);
}

.banner-carousel .slide-item .right-bottom-curve {
  background-image: url(../../images/colors/color-2/main-slider/right-curved-bg.png);
}

.banner-carousel .slide-item .shape-1 {
  background-image: url(../../images/colors/color-2/main-slider/b-2-shape-1.png);
}

.banner-carousel .slide-item .shape-3 {
  background-image: url(../../images/colors/color-2/main-slider/b-2-shape-3.png);
}

.banner-carousel .slide-item .shape-4 {
  background-image: url(../../images/colors/color-2/main-slider/b-2-shape-4.png);
}

.page-banner .shape-1 {
  background-image: url(../../images/colors/color-2/background/b-shape-1.png);
}
.header-style-four .other-links .link-box .link .icon {
  background-image: url(../../images/colors/color-2/icons/chat-icon-dark.png);
}
